header {
  background-color: rgba(42, 221, 117, 0.616);
  font-size: 20px;
  padding: 10px 10px;
  border: 20px 20px;
  gap: 40px;
  text-align: left;

}

.carousel-item {
  height: 600px;

}

a {
  text-decoration: none;
  padding: 10px 10px;

}

h1 {
  background-color: rgba(42, 221, 117, 0.616);
  text-align: center;
  font-size: xx-large;
  padding: 30px 40px;
  font-weight: 600px;
  
}

p {
  text-align: center;
  
}

#main {
  display: grid;

}

.card-img-top1 {
  height: 250px;
  width: 0 auto;
  
}

.card-img-top2 {
  height: 250px;
  width: 0 auto;
  
}

.card-img-top3 {
  height: 250px;
  width: 0 auto;
  
}

.card-img-top4 {
  height: 250px;
  width: 0 auto;
  
}

.container1- {
  margin: 20px 20px;
  padding: 40px 40px;

}

#photo1 {
  height: 300px;
  width: 500px;

}

.content {
  text-align: justify;
  padding: 80px 20px;

}

.footer{
  text-align: center;
  background-color: rgba(42, 221, 117, 0.616);
  width: 100%;
  margin: 0 auto;

}

h5 {
  font-weight: 600;
}


